/** Custom Properties pal proyecto **/
:root{
    --oro: #927913;
    --verde: #15441f;
}
/** Universales **/
body, html{
    font-family: sans-serif;
    height: 100%;
}
/**--------------------------Login------------------------------**/
/** Clases **/
.bg{
    background-image: url(../img/vitral.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(25, 25, 25, .6);
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--oro);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: var(--verde);
}
.loggin{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 24px;
}
.loggin:hover {
    background: var(--verde);
}

#loggin_adm{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
#loggin_adm:hover {
    background: var(--verde);
}
/**---------------------------Página de Selección de Modulos----------------------------**/


/** Universales **/
body.modulos{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    background: #fff;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color: black;
}
h3.desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 530;
}

/** Clases **/
.contenedor-modulos{
    text-align: center;
}
.contenedor-modulos h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid var(--oro);
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.mod{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.servicio{
    display: inline-block;
    width: calc(100% /3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}
.servicio i{
    color: var(--verde);
    font-size: 34px;
    margin-bottom: 30px;
}
.servicio h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.servicio p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.servicio:hover{
    background: #606060;
    color: white;
}

@media screen and (max-width: 800px){
    .servicio{
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .servicio{
        width: 100%;
    }
}
/**-------------------------------Módulo-----------------------------------**/
/** Universales**/
body.expedientes{
    background: #DDD;
}
/** Clases 
.header{
    height: 100px;
    background: var(--verde);
    padding: 0 20px;
    color: white;
}
.titulo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;

}
.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.muestra-menu,.oculta-menu{
    transition: 0.4s;
    font-size: 30px;
    cursor:pointer;
    display: none;

}
.muestra-menu{
    float: right;
}
.muestra-menu i{
    line-height: 100px;
}
.menu a:hover,
.muestra-menu:hover,
.oculta-menu:hover{
    color: var(--oro);
}
@media screen and (max-width:800px){
    .muestra-menu,.oculta-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .oculta-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

/**IDs**/
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
img.banner1{
    width: 100%;
}

